---
layout: default
---
<div class="container my-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h1><b>{{page.title}}</b></h1>
    </div>
    <div class="col-md-9">
{{content}}
    </div>{% if page.toc == true %}
    <div class="col-md-3 d-none d-md-block">
 {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu sticky-top bg-light p-3 border" skip_no_ids=false %}
    </div>{% endif %}
</div>
</div>

{% if page.credits == true %}{% include credits.html %}{% endif %}
