---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row my-5">
  <div class="col-md-9">

    {{content }}

   </div>
  <div class="col-md-3">  

   
  </div>
  <div class="col-md-12">
    <h2 class="mt-5">Member Libraries</h2>
 
    <div class="row my-5 ">
      {% for org in site.data.orgs%}<div class="col-xs-12 col-md-3 text-center">
    <a href="{{org.link}}" class="py-5"  ><img  src="/assets/img/logos/{{org.img}}" style="max-height:115px;" title="{{org.title}} logo"></a>
    </div>
    {%endfor%}
  
    </div>

  </div>
</div>